#questions {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.507);
    font-size: 18px;
    color: white;
    font-weight: bolder;
}

#main {
    background-image: url(./images/friendfinder_BG_1250x800.jpg);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}

#surveyform {
    background-image: url(../public/images/friendfinder_BG_1250x800.jpg);
}

#name, #photo, #homemain  {
    font-family: 'Courier New', Courier, monospace;
    /* background-color: rgba(0, 0, 0, 0.288); */
    font-size: 20px;
    font-weight: bolder;
}



